@model IEnumerable<projetoFuji.Models.Fornecedor>

@{
    ViewData["Title"] = "Listar";
    Layout = "_LayoutDash";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-flex align-items-center"><a asp-area="" asp-controller="Admin" asp-action="DashBoard"><h2 class="breadCrumbText">Home</h2></a></li>
        <li class="breadcrumb-item active d-flex align-items-center"><a asp-area="" asp-controller="Fornecedor" asp-action="Listar"><h2 class="breadCrumbText">Fornecedor</h2></a></li>
    </ol>
</nav>

<p>
    <a asp-action="Cadastrar">Adicionar</a>
</p>
<table class="table listar bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="grupo">
                @Html.ActionLink("Editar", "Editar", new { id=item.CNPJ}) |
                @Html.ActionLink("Deletar", "Deletar", new { CNPJ = item.CNPJ }, new { onclick = "return confirm('Deseja excluir');" })
            </td>
        </tr>
}
    </tbody>
</table>
