@model IEnumerable<projetoFuji.Models.FolhaDePagamento>

@{
    ViewData["Title"] = "Listar";
    Layout = "_LayoutDash";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-flex align-items-center"><a asp-area="" asp-controller="Admin" asp-action="DashBoard"><h2 class="breadCrumbText">Home</h2></a></li>
        <li class="breadcrumb-item d-flex align-items-center"><a asp-area="" asp-controller="Funcionario" asp-action="Listar"><h2 class="breadCrumbText">Produtos</h2></a></li>
        <li class="breadcrumb-item d-flex align-items-center"><h2 class="breadCrumbText">Folha De Pagamento</h2></li>
    </ol>
</nav>
<p>
    @Html.ActionLink("Registrar Pagamentos", "Cadastrar", "FolhaDePagamento", new { cpf = ViewBag.cpf, salario = ViewBag.salario})
</p>
<table class="table listar bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAjuste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPago)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAjuste)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPagamento)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPago)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {id = item.Id, cpf = item.Cpf}) |
                    @Html.ActionLink("Deletar", "Deletar", new { id = item.Id, cpf = item.Cpf })
            </td>
        </tr>
}
    </tbody>
</table>
