@model IEnumerable<projetoFuji.Models.Produto>

@{
    ViewData["Title"] = "Listar";
    Layout = "_LayoutDash";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-flex align-items-center"><a asp-area="" asp-controller="Admin" asp-action="DashBoard"><h2 class="breadCrumbText">Home</h2></a></li>
        <li class="breadcrumb-item d-flex align-items-center"><a asp-area="" asp-controller="Produto" asp-action="Listar"><h2 class="breadCrumbText">Produtos</h2></a></li>
    </ol>
</nav>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table listar bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_de_barras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais_de_origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_de_barras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais_de_origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Editar", new { Codigo_de_barras = item.Codigo_de_barras }) |
                @Html.ActionLink("Deletar", "Deletar", new { Codigo_de_barras = item.Codigo_de_barras }, new { onclick = "return confirm('Deseja demitir?')"})
            </td>
        </tr>
}
    </tbody>
</table>
