@model IEnumerable<projetoFuji.Models.Categoria>

@{
    ViewData["Title"] = "Listar";
    Layout = "_LayoutDash";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item d-flex align-items-center"><a asp-area="" asp-controller="Admin" asp-action="DashBoard"><h2 class="breadCrumbText">Home</h2></a></li>
        <li class="breadcrumb-item d-flex align-items-center"><a asp-area="" asp-controller="Categoria" asp-action="Listar"><h2 class="breadCrumbText">Categorias</h2></a></li>
    </ol>
</nav>
<p>
    <a asp-action="Cadastrar">Create New</a>
</p>
<table class="table listar bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Editar", new {Id = item.ID }) |
                    @Html.ActionLink("Deletar", "Deletar", new { Id = item.ID }, new { onclick = "return confirm('Deseja deletar?');" })
            </td>
        </tr>
}
    </tbody>
</table>
